[Unit]
Description=Quick description of service
#After=anotherservice.service
#StartLimitIntervalSec=0

[Service]
#Type=forking
#Type=simple
Type=oneshot
#Type=exec
#Type=notify
ExecStart=/home/sandworm/Workspace/toolbox/window.sh
#Restart=always
Restart=no
#Restart=on-success
#Restart=on-failure
#Restart=on-abnormal
#Restart=on-abort
#Restart=on-watchdog
User=sandworm
Group=sandworm

#IgnoreSIGPIPE=no
#PIDFile=/run/testservice.pid
RemainAfterExit=yes
#RestartSec=3

[Install]
WantedBy=multi-user.target


